@font-face {
    font-family: work sans;
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: work sans;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #2e2e2e;
}

#container {
    display: flex;
    position: relative;
    background-color: #2e2e2e;
    width: 1390px;
    border: 2px solid #ebccc2;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(115, 115, 115);
    font-size: 10px;
}

a:hover {
    color: rgb(234, 204, 194);
}

#left {
    border: 2px solid silver;
}

#logo img {
    width: 30%;
    margin: 3rem;
}

#headnav {
    display: flex;
    padding: 1em;
    position: fixed;
    border: 1px solid green;
}

#headnav ul {
    display: flex;
}

#headnav ul .social {
    display: flex;
    justify-content: space-between;
}

.asideNav {
    margin: 1rem;
    width: 90%;
    border: 1px solid red;
}

.asideNav ul {
    list-style: circle;
    color: #fff;
}

.asideNav a {
    text-decoration: none;
    font-size: 20px;
    opacity: 0.5;
    margin-left: .4em;
}

.asideNav ul li {
    display: flex;
    align-items: center;
}

.doubleBorder {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    opacity: 0.2;
}

.doubleBorder:before {
    background: none;
    border: 2px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    opacity: .7;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

.activeDot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: .8;
}

.asideNav .stroke {
    border-left: 1px solid #fff;
    height: 4em;
    opacity: .2;
    margin: 10px 0 10px 9px;
}

.asideNav a:hover {
    opacity: .8;
    transition: opacity ease .2s;
}